*{
    margin:0;
    padding: 0;
    font-size: 1em;
        font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
            box-sizing: border-box;
      
}

/*logo color #FE7E09*/

html,body{
    width: 100%;
    min-height: 100%;
    margin:0;
    padding: 0;
    font-size: 1em;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
#main_container{
	 max-width: 1200px;
	 margin: 0 auto;
}
#logo, #nav_div, #nav_ul{
	max-width: 1200px;
	margin:0 auto;
}
#logo{
	text-align: center; 
}
#logo img{
	max-width: 20%;
	height: auto;
}
a:link {color: blue;}
a:visited {color: purple;}
a:hover {color: magenta;}
a:active {color: red;}

li.active_link{
	font-weight: bold;
}
#nav_div{
	text-align:center;
	padding-top: 2%;
}
#nav_div #nav_ul{
    list-style: none;
    text-transform: uppercase;
}
#nav_div #nav_ul li{
	display: inline;
	padding: 1%;
	font-size: 75%;
}
#nav_ul li a{
	display: inline;
	color: #333;
	text-decoration: none;
	outline: none;
}
#nav_ul li a:hover{
	color: #FE7E09;
}

/*---------footer-----*/
#footer{
	width: 50%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	
}
#footer_ul {
	overflow: auto;
	width: 70%;
	margin: 0 15%;
	padding-bottom: 5%;
	border-bottom: 1px solid #eee;
}

#footer_ul .footer_li {
	list-style-type: none;
	float: left;
	text-align: center;
	width: 33.33333%;
}
#footer_ul .footer_li a{
	text-align: center;
}

#footer_ul .footer_li a i {
	background: white;
	color: #000;
	width: 32px;
	height: 32px;
	border: 1px solid black;
	border-radius: 20px;
	font-size: 100%;
	padding-top: 0.5em;
	text-align: center;
}

#footer_ul .footer_li .fa-facebook:hover {
	background-color:#3b5998;
	color: white;
	border:none;
} 
#footer_ul .footer_li .fa-instagram:hover {
	background-color:#962FBF;
	color: white;
	border:none;
} 
#footer_ul .footer_li .fa-youtube:hover {
	background-color:#ff0000;
	color: white;
	border:none;
} 
#copyright{
	font-size: 80%;
	

}
